{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <div class="bg-gradient">
        <form class="uk-flex uk-flex-column uk-card uk-card-default uk-position-center uk-card-body uk-card-responsive" method="post">
            {% if error %}
                <div class="alert uk-alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }} <br> Votre email ou mot de passe incorrect</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}

            <div class="uk-flex uk-flex-column">
                <h1>Connexion</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control uk-form-row" autocomplete="email" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control uk-form-row" autocomplete="current-password" required>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="btn-rc">
                <button class="btn-red btn-lg btn-primary" type="submit">
                    Me connecter
                </button>
            </div>
        </form>
    </div>
{% endblock %}
