{% extends 'base.html.twig' %}

{% block title %}Créer mon compte{% endblock %}

{% block body %}
    <div class="bg-gradient">
        <div class="uk-card uk-card-default uk-position-center uk-card-body">
            <h1>Créer mon compte</h1>
            <h2>Merci de remplir tous les champs du formulaire ci-dessous</h2>

            <form class=" uk-table-responsive">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.nom, {'label' : "Nom", 'attr': {'class' :'uk-input'}}) }}
                    {{ form_row(registrationForm.prenom, {'label' : "Prénom", 'attr': {'class' :'uk-input'}}) }}
                    {{ form_row(registrationForm.email, {'label' : "Email", 'attr': {'class' :'uk-input'}}) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password',
                        'attr': {'class' :'uk-input'}
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <div class="btn-rc uk-position-bottom-right">
                        <button type="submit" class="btn-red">Register</button>
                    </div>
                {{ form_end(registrationForm) }}
            </form>
        </div>
    </div>
{% endblock %}
