{{ form_start(form) }}
    {{ form_row(form) }}
    <div data-prototype="{{ form_widget(form.question.vars.prototype) }}">
        {% for row in form.question %}
            {{ form_row(row) }}
        {% endfor %}
        <button class="btn-red">{{ button_label|default('Créer le QCM') }}</button>
    </div>
{{ form_end(form) }}
