{% extends 'base.html.twig' %}

{% block title %}Qcm index{% endblock %}

{% block body %}
    <div class="bg-gradient">
        <div style="padding-top: 9rem; padding-bottom: 10rem" class="uk-card uk-card-body uk-card-default uk-card-center uk-position-center">
            <h1>La liste des QCM</h1>

            <table class="uk-card uk-card-body uk-table-responsive">
                <tbody>
                {% for qcm in qcms %}
                    <tr class="uk-card uk-card-body uk-card-hover uk-card-default">
                        {% if is_granted("ROLE_ADMIN") %}
                        <td><strong>Id:</strong> {{ qcm.id }}</td>
                        {% endif %}
                        <td><strong>Titre QCM:</strong> {{ qcm.title }}</td>
                        <td><strong>Description QCM:</strong> {{ qcm.description }}</td>
                        <td><strong>Créé le:</strong> {{ qcm.createdAt ? qcm.createdAt|date('Y-m-d') : '' }}</td>
                        <td class="btn-rc uk-position-bottom-right">
                            <a class="btn-red" type="button" href="{{ path('app_qcm_show', {'id': qcm.id}) }}">show</a>
                            {% if is_granted("ROLE_ADMIN") %}
                            <a class="btn-blue" type="button" href="{{ path('app_qcm_edit', {'id': qcm.id}) }}">edit</a>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% if is_granted("ROLE_ADMIN") %}
            <a class="btn-red" href="{{ path('app_qcm_new') }}">Créer un QCM</a>
            {% endif %}
        </div>
    </div>
{% endblock %}

