<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🔴️</text></svg>">
        <link rel="stylesheet" href="{{ asset("build/css/global.css")}}" />
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/css/uikit.min.css" />

        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}
            <!-- UIkit JS -->
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit.min.js"></script>
            <script src="https://cdn.jsdelivr.net/npm/uikit@3.15.6/dist/js/uikit-icons.min.js"></script>
        {% endblock %}
    </head>

    <body>
    {% block main %}
        <nav class="uk-navbar-container" uk-navbar>
            <div class="uk-navbar-left">

                <ul class="uk-navbar-nav">
                    <li class="uk-active">
                        <a href="{{ path("app_home") }}">
                            <img src="{{ asset("images/New_Logo_CCIF_rouge.png") }}">
                        </a>
                    </li>
                </ul>

            </div>
            <div class="uk-navbar-right">

                <ul class="uk-navbar-nav">
                    <li>
                        <a href="{{ path("app_home") }}" >
                            <img id="profil-icon" src="{{ asset("icons/circle-user-solid.png") }}"></img>
                        </a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% if is_granted("ROLE_ADMIN") %}
                                    <li><a href="{{ path('app_qcm_new') }}">Créer un QCM</a></li>
                                {% endif %}
                                {% if is_granted("ROLE_USER") %}
                                    <li class="uk-active"><a href="{{ path('app_user_show', {'id': app.user.id}) }}">Mon profil</a></li>
                                    <li><a href="{{ path("app_qcm_index") }}" class="uk-nav-header">Les QCMs</a></li>
                                    <li class="uk-nav-divider"></li>
                                    <li><a href="{{ path("app_logout") }}">Me déconnecter</a></li>
                                {% else %}
                                    <li><a href="{{ path("app_login") }}">Me connecter</a></li>
                                    <li><a href="{{ path("app_register") }}">M'inscrire</a></li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock %}

        {% block body %}

            {% block nav %}
            {% endblock %}

            {% block contenu %}
            {% endblock %}

        {% endblock %}

    {% block footer %}
        <footer id="footer" class="uk-position-bottom uk-position-z-index">
            <div class="uk-position-center">
                <a href="https://www.cciformationpro.fr/">
                    <img id="logoWhite" src="{{ asset("images/New_Logo_CCIF_rouge.png") }}">
                </a>
            </div>
        </footer>
    {% endblock %}

    </body>
</html>
